body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.checkboxText {
    line-height: 200%;
    vertical-align: bottom;
    margin-right: 2px;
}

.shadedRoundCaption {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.shadedRoundCaption, .shadedCaption {
    color: #DDD;
    text-shadow: 1px 1px 3px #448;
    background-color: #3a3f44;
    text-align: center;
    padding: 4px;
    margin-right: 4px !important;
    margin-bottom: 1px !important;
    font-size: 80%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    filter: none;
}

.shadedCaptionsNumber {
    padding-right: 5px !important;
    text-align: right;
    width: 100%;
    background-color: #ccc;
    color: #000;
    text-shadow: 1px 1px 3px #fff;
}

div.accordion .accordion-group .accordion-heading .accordion-toggle {
    text-decoration: none;
    color: #DDD;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ddebf7;
}

.table-striped > tbody > tr:nth-of-type(1) {
    background-color: #82a5dd;
    background-image: -webkit-linear-gradient(#9bc2e6, #5b9bd5 60%, #5595d0);
    background-image: -o-linear-gradient(#9bc2e6, #5b9bd5 60%, #5595d0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9bc2e6), color-stop(60%, #5b9bd5), to(#5595d0));
    background-image: linear-gradient(#9bc2e6, #5b9bd5 60%, #5595d0);
    border-top: 1px solid #9bc2e6;
    border-bottom: 1px solid #9bc2e6;
    color: #fff;
    text-shadow: 1px 1px 3px #004;
    height: 32px !important;
}

.table-striped > tbody > tr > td {
    padding: 1px 4px 1px 4px;
}

.table-striped {
    margin-bottom: 60px;
}

.table-responsive {
    min-height: 400px;
}

.bottom-row {
    background-color: #faf8f4;
    height: 40px;
    font-weight: bold;
}

    .bottom-row > td {
        vertical-align: middle !important;
    }

.form-control[data-val-required] {
    background-color: #fffff8;
    border: 1px solid #f0c4c4;
}

.form-control[disabled][data-val-required],
.form-control[readonly][data-val-required] {
    background-color: #e6e6e6;
    border: 1px solid #cccccc;
}

.ag-style .dropdown-menu {
    font-size: 11px;
    margin: 1px 0 15px 0;
}

    .ag-style .dropdown-menu .divider {
        margin: 6px 0;
    }

    .ag-style .dropdown-menu > li > a {
        padding: 2px 10px;
    }

.ui-autocomplete {
    position: relative;
}

.clsDatePicker {
    z-index: 10000 !important;
}
