@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model ProcessStepTemplate
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/ProcessStepTemplates/Details/@Model.Id'>@Model.DisplayOrder.ToString("#00000") - @Model.Title</a></div>
}