@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model SizeCaption
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="col-xs-1 sizeCaption-Caption">@Model.Caption</div>
}