@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model Sizing
@{
    Layout = null;
}
@if (Model != null)
{
    <div class="col-xs-1 shadedCaption">@Model.Caption</div>
}