@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model Company
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/Companies/Details/@Model.Id'>@Model.CompanyName</a></div>
}