@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model Contact
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/Contacts/Details/@Model.Id'>@Model.FullName</a></div>
}