@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model Customer
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/Customers/Details/@Model.Id'>@Model.CompanyName</a></div>
}