@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model EmployeePosition
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/EmployeePositions/Details/@Model.Id'>@Model.ModifierId</a></div>
}