@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model Employee
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/Employees/Details/@Model.Id'>@Model.AspNetUser.UserName</a></div>
}