@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model OrderItem
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/OrderItems/Details/@Model.Id'>@Model.Product.Title</a></div>
}