@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model POShipment
@{
    Layout = null;
}
@if (Model != null)
{
    <div style="min-width:160px;">
        <span class="fontSize60pc">
            @Html.DisplayFor(m => m.IsShipped)
            @Html.DisplayFor(m => m.IsDelivered)
        </span>
        @Html.DisplayFor(m => m.ShippingDate) |
        <div class="pull-right">@Model.Quantity.ToString("###,###")</div>
    </div>
}