@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model ProcessTemplate
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/ProcessTemplates/Details/@Model.Id'>@Model.TemplateName</a></div>
}