@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model Process
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/Processes/Details/@Model.Id'>@Model.PurchaseOrder.PoNr</a></div>
}