@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model Product
@{
    Layout = null;
}
@if (Model != null)
{
    <div>
        @if (Model.Category != null)
        {
            <a class="pull-left" title="@EntityStrings.Category"
               href='/ProductCategoriess/Details/@Model.CategoryId'>
                @Model.Category.Title /&nbsp;
            </a>
        }
        <a href='/Products/Details/@Model.Id'>@Model.Title</a>
    </div>
}
