@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model PuchaseOrder
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/PuchaseOrders/Details/@Model.Id'>@Model.Title</a></div>
}