@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CriticalPath.Data.Resources
@model SizingStandard
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/SizingStandards/Details/@Model.Id'>@Model.Title</a></div>
}