@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
@model Supplier
@{
    Layout = null;
}
@if (Model != null)
{
    <div><a href='/Suppliers/Details/@Model.Id'>@Model.CompanyName</a></div>
}