body {
    background:#d8d8d8;
}
table{
    background:#d0d4d2;
}
.form-control{
    background:#e0e2e0;
}
.well{
    background:#d4d4d0;
    border-color:#c4c4c4;
}
.table-hover > tbody > tr:hover {
  background-color: #d0d0d0;
}