@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
<div class="row">
    <div class="col-md-6">
        @Html.ActionLink(@ActionStrings.Edit, "Edit", null, new { id = Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink(@ActionStrings.BackToIndex, "Index", null, new { @class = "btn btn-default" })
    </div>
</div>