@using CP.i8n
@using CriticalPath.Data
@model ICancelled
@{
    Layout = null;
}
@if (Model.Cancelled)
{
    <div class="row">
        <label class="control-label col-md-2 col-sm-3 text-danger mb5">
            <span class="approveText">@Html.DisplayNameFor(model => model.Cancelled)</span>
        </label>
        <div class="col-sm-6 fontSize150pc mt5">
            @Html.DisplayFor(m => m.CancelDate)
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-2 col-sm-3 text-danger mb5">
            @Html.DisplayNameFor(model => model.CancellationReason)
        </label>
        <div class="col-md-10 col-sm-9 mt10">
            @Html.DisplayFor(m => m.CancellationReason)
        </div>
    </div>
}