@using CriticalPath.Web.Models
@using CriticalPath.Data
@using CP.i8n
<div class="input-group">
    @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = MessageStrings.EnterKeywordHere })
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" onclick="setPager(1)">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>